#navigation{
    background-color: black;
    padding: 0.15em;
}
#navigation>ul{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#navigation>ul>li>a{
    text-decoration: none;
    font-size: 1.2em;
    padding: 1em;
    color: white;
}

#navigation>ul>li>a:hover{
    background-color: white;
    color:black;
}
.active{
    background-color: rgb(41, 40, 39);
}