*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 95vh;
    display: flex;
    flex-direction: column;

}
.main{
    margin: 0.2em;
    padding: 0.3em;
}
#navigation{
    background-color: black;
    padding: 0.5em;
    margin-bottom: 2em;
}
#navigation>ul{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#navigation>ul>li>a,.footer>ul>li>a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}
.footer{
    /* position: absolute; */
    background-color: lightgray;
    color: white;
    width: 100vw;
    /* height: 20vh; */
    /* left: 0;
    bottom:0;
    margin-top: 2em; */
    /* z-index: 10; */
}
.inputDiv{
    height: 2em;
}
.projects_card{
    height: 60vh;
    margin-top: 1em;
}
.footer>ul>li>a{
    padding: 0.2em;
}
.footer>ul>li{
    margin: 0.2em;
}
#navigation>ul>li>a{
    padding: 1em;
}
#navigation>ul>li>a:hover{
    background-color: white;
    color:black;
}
.active{
    background-color: rgb(41, 40, 39);
}
.projectItem{
    list-style-type: none;
    background-color: lightgray;
    margin-bottom: 0.2em;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    border-radius: 10px;
}
#deleditbtn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#btnEdit{
    margin-right: 0.5em;
}
#btnDel{
    margin-right: 0.2em;
}
#btnEdit:hover,#btnDel:hover{
    background-color: white;
    color: black;
}
#btnDel,#btnEdit{
    padding: 0.1em;
    font-size: 0.9em;
    color: white;
    background-color: rgb(161, 157, 157);
    border:0.5px solid rgb(161, 157, 157);
    box-shadow: 2px 2px 0px rgb(161, 157, 157);
    border-radius: 5px;
}
.btnAdd{
    padding: 0.3em;
    font-size: 0.9em;
    border: 0.5px solid whitesmoke;
    box-shadow: 2px 2px 0px rgb(202, 198, 198);
    border-radius: 5px;
    margin-right: 0.3em;
}
#title,#link{
    font-size: 0.9em;
    padding: 0.3em;
    border: 0.5px solid whitesmoke;
    box-shadow: 2px 2px 0px rgb(240, 235, 227);
    border-radius: 5px;
    margin: 0.2em;
    background-color: rgb(230, 233, 236);
}
.error{
    border: 0.5px solid red;
    background-color: rgb(184, 91, 91);
    border-radius: 5px;
}
.errorDiv{
    margin-bottom:1em;
    background-color: rgb(182, 93, 93);
}
.errorDiv>p{
    padding:0.2em;
}
a{
    text-decoration: none;
}
/* .footer{
    background-color: grey;
    padding: 0.15em;
    /* height: 8em; 
    position: absolute;
    bottom:0;
    left:0;
    right:100%;
} */
.footer>ul>li>a:hover{
    background-color: black;
    color: white;
}
.footer>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer>ul>li>a{
    color: black;
}
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: calc(100vh- 8em -4em); */
    width: 90vw;
    font-size: 1.2em;
    padding: 0.5em;
    overflow:auto;
}
.div_bio{
    width: 50vw;
}
.div_list{
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
